html,
body {
  margin: var(--spacing-0);
  padding: var(--spacing-0);
  height: 100%;
  min-height: 100vh;
  font-family: var(--font-display-1-font-family) !important;
}

body {
  display: flex;
  flex-direction: column;

  /* Disable Selecting Text */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h2 {
font-style: normal;
font-weight: var(--font-display-2-font-weight);
font-size: 24px;
line-height: 28px;
margin-block: 0;
}

p {
  margin-top: 0;
}

#root {
  /* Full Screen  */
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.helpIcon {
  color: var(--color-text-primary);
  cursor: pointer;
}

rux-input::part(form-field) {
  flex-direction: row;
  align-items: center;
}

rux-select {
  display: flex;
  align-items: center;
}

rux-select::part(select) {
  flex-direction: row;
  align-items: center;
}

rux-input::part(label), rux-select::part(label) {
  margin-right: var(--spacing-2);
  min-width: var(--spacing-14);
  margin-bottom: var(--spacing-0);
  display: flex;
  justify-content: end;
  align-items: center;
}

rux-switch {
  margin-left: var(--spacing-16);
  margin-top: var(--spacing-1);
}
