html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif !important;
}

body {
  display: flex;
  flex-direction: column;

  /* Disable Selecting Text */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#root {
  /* Full Screen  */
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.helpIcon {
  color: #FFFFFF;
  cursor: pointer;
}
