@font-face {
  font-family: 'Nasa';
  src: url('../../../public/nasalization-rg.otf') format('opentype');
}

.appBar img {
  padding: 10px 20px 10px 0px;
}

.appBar a {
  color: #fff;
  text-decoration: none;
}
