select,
input {
  width: 85%;
  box-sizing: border-box;
  margin-left: 8px;
  margin-right: 8px;
  justify-self: end;
  text-align: center;
}

label {
  justify-self: end;
  align-self: center;
}

.modemButtonBox{
  display: flex;
  height: calc(100% + 2rem);
  margin-top: -1rem;
}
.modemButtonBox::part(container){
background: #101923;
border: none;
display:flex;
}
.modemButtonBox::part(body){
display:flex;
flex-direction: column;
justify-content: space-between;
align-self: stretch;
}

rux-button::part(container) {
  min-width: 42px;
}

rux-button.isActive::part(container){
  outline: 1px solid #da9ce7;
  outline-offset: 1px;
}
