rux-card::part(body) {
  padding: 0;
}
canvas {
  background-color: var(--color-palette-neutral-1000);
}

rux-select.antenna-select::part(label) {
  min-width: var(--spacing-6);
}

.analyzer-config::part(footer) {
  display: none;
}

.control-display {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-display section {
  display: flex;
  padding: 1rem;
  width: 250px;
  box-sizing: border-box;
}

.control-display section div {
  width: 50%;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  text-align: center;
}
