.login-container{
    margin: 1rem;
    height: calc(100% - 2rem);
}

.login-container::part(body), .login-container::part(container){
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}